.why-section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

@media (max-width: 700px) {
  .why-section__grid {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
